ul {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

  }
  
  li {
    float: right;
  }
  li a {

    font-size: 25px;
    display: block;
    color:#e6e6e6;;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: normal;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    color:#71aaca;

  }
  img{
    margin-top: 50px;
    width: 750px;
    height: 540px;
    opacity: 90%;
  }
  footer{
    background-color: #333;
    font-size: 17px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: block;
    color: white;
    text-align: center;
    padding: 14px;
  }
  .caja{
    display:grid;
    grid-template-areas: "nav nav"
                          "contenido contenido2"
                          "footer footer";
    grid-template-columns: 40% 60%;
    grid-template-rows: auto auto 8%;
    background: #0F2027;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  }
  .nav{
    grid-area: nav;
   
  }
  .contenido{
    margin-top: 50%;
    grid-area: contenido;
  }
  .contenido2{
    grid-area: contenido2;
  }
  .footer{
    grid-area: footer;
  }
  .texto{
    margin-top: 25%;
  }
  .texto H1{
    margin-bottom: 2px;
    color: #111;
    font-size: 80px;
    font-family: 'Roboto Condensed', sans-serif;
  }
  .texto H2:hover{
    color:rgb(73, 121, 129);
   
  }
  .texto h2{
    margin-top: 2px;
    margin-bottom: 2px;
    color:#e6e6e6;
    font-size: 100px;
    font-family: 'Roboto Condensed', sans-serif;
  }
  .texto h3{
    margin-top: 2px;
    color:#e6e6e6;
    font-size: 50px;
    font-family: 'Roboto Condensed', sans-serif;
  }
.logo img{
  width: 50px;
  height: 50px;
  margin-right: 1000px;
  margin-top: 9px;
}