ul {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

  }
  
  li {
    float: right;
  }
  .logo{
    padding: 10px 10px;
    float: left;
    font-size: 30px;
    font-family: 'Roboto Condensed', sans-serif;
  }
  
  li a {
    font-size: 20px;
    display: block;
    color:#111;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    color:rgb(146, 28, 28);

  }
  img{
    width: 750px;
    height: 540px;
  }
  footer{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-size: 17px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .caja{
    display:grid;
    grid-template-areas: "nav nav"
                          "contenido contenido2"
                          "footer footer";
    grid-template-columns: 40% 60%;
    grid-template-rows: auto auto auto;
  }
  .nav{
    grid-area: nav;
   
  }
  .contenido{
    margin-top: 50%;
    grid-area: contenido;
  }
  .contenido2{
    grid-area: contenido2;
  }
  .footer{
    grid-area: footer;
  }
  .texto{
    margin-top: 25%;
  }
  .texto H1{
    margin-bottom: 2px;
    color: #111;
    font-size: 80px;
    font-family: 'Roboto Condensed', sans-serif;
  }
  .texto H2:hover{
    color:#333;
   
  }
  .texto h2{
    margin-top: 2px;
    margin-bottom: 2px;
    color:#FFBA63;
    font-size: 100px;
    font-family: 'Roboto Condensed', sans-serif;
  }
  .texto h3{
    margin-top: 2px;
    margin-bottom: 2px;
    color:#333;
    font-size: 50px;
    font-family: 'Roboto Condensed', sans-serif;
  }
